:root {
    --font-family-main: "Raleway", serif;
    --font-size-xs: 12px;
    --font-line-xs: 16px;
    --font-size-s: 14px;
    --font-line-s: 18px;
    --font-size-m: 16px;
    --font-line-m: 20px;
    --font-size-l: 20px;
    --font-line-l: 26px;
    --font-size-xl: 40px;
    --font-line-xl: 48px;
    --font-size-xxl: 60px;
    --font-line-xxl: 72px;
    --font-xs: var(--font-size-xs) / var(--font-line-xs) var(--font-family-main);
    --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);
    --font-xxl: var(--font-size-xxl) / var(--font-line-xxl) var(--font-family-main);

    --navbar-height: 48px;
    --sidebar-width: 290px;
}
