.app_light_theme {
    --bg-color: #EDEBEC;
    --primary-color: #343333;
    --secondary-color: #6A6768;
    --inactive-color: rgba(52, 51, 51, 0.4);
    --navbar-bg: rgba(255, 255, 255, 0.5);
    --navbar-shadow: 0px 0px 8px 2px rgba(52, 51, 51, 0.08);
    --next-lessons-bg: linear-gradient(90deg, rgba(255, 255, 255, 0.7) 35.71%, rgba(255, 255, 255, 0.2) 100%);
    --sidbar-item-hover: linear-gradient(90deg, rgba(255, 255, 255, 0.6) 35.71%, rgba(255, 255, 255, 0.1) 100%);
    --card-bg: #FFFBFA;
    --card-shadow: 0px 0px 8px 2px rgba(52, 51, 51, 0.08);
    --dropdown-hover: rgba(255, 255, 255, 0.5);
    --dropdown-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);

    /*buttons*/
    --btn-border-radius: 36px;

    --btn-primary-bg: #F6682F;
    --btn-primary-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
    --btn-primary-color: #FAF8F3;
    --btn-primary-bg-hovered: #F05B1F;
    --btn-primary-bg-disabled: rgba(250, 200, 180, 0.9);

    --btn-secondary-bg: #EDEBEC;
    --btn-secondary-color: #F6682F;
    --btn-secondary-border: 1px solid #F6682F;
    --btn-secondary-color-hovered: #F05B1F;
    --btn-secondary-color-disabled-bg: rgba(250, 200, 180, 0.9);
    --btn-secondary-color-disabled-color: rgba(250, 200, 180, 0.9);
    --btn-secondary-color-disabled-border: 1px solid rgba(250, 200, 180, 0.9);

    --btn-action-bg: rgba(254, 235, 226, 0.9);
    --btn-action-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);
    --btn-action-color: #F6682F;
    --btn-action-bg-hovered: rgba(250, 200, 180, 0.9);
    --btn-action-color-hovered: #F05B1F;
    --btn-action-bg-disabled: rgba(254, 235, 226, 0.9);
    --btn-action-color-disabled: rgba(250, 200, 180, 0.9);

    --btn-plus-color: #FAF8F3;
    --btn-plus-background: #F6682F;
    --btn-plus-background-hovered: #F05B1F;

    --btn-black-bg: #EDEBEC;
    --btn-black-color: #5B5859;
    --btn-black-border-hovered: #343333;
    --btn-black-color-hovered: #343333;
    --btn-black-color-disabled: rgba(52, 51, 51, 0.4);

    --btn-black-bg-filled: #5B5859;
    --btn-black-color-filled: #FAF8F3;
    --btn-black-color-filled-hovered: #FAF8F3;
    --btn-black-bg-filled-hovered: #343333;
    --btn-black-bg-filled-disabled: rgba(52, 51, 51, 0.4);
}
